/* Rectangle 80 */

span {
  display: inline-block;
}

.data {
  /* width and height should stay lower than that of iframe */
  width: 960px; 
  height: 600px;
  background: #FFFFFF;
  box-shadow: 8px 8px 10px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: justify;
  text-justify: auto;
  word-break: break-all;
}
.data__text {
  vertical-align: top;

  display: inline-block;
  width: 300px;
}
.data__skip {
  /* height should be the same as the margin for data__image */
  height: 96px;
  color: #799B80;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}
.data__explanation {

  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #636363;
  margin: 0 0 32px;
}
.data__detail {
  color: #636363;
}
.data__image {
  display: inline-block;
  width: 400px;
  height: 400px;
  margin: 96px;
}