/* Rectangle 80 */

span {
  display: inline-block;
}

.data {
  /* width: 960px;
  height: 480px; */
  background: #FFFFFF;
  box-shadow: 8px 8px 10px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  text-align: justify;
  text-justify: auto;
  word-break: break-all;
}
.explanation {
  color: red;
}

iframe {
  width: 960px;
  height: 480px;
  border: none;
}